.productionListing{
    min-width: 15rem;
}

.title{
    background-color: var(--text);
    color: var(--background);
    height: 2.5rem;
}
.titleContent{
    padding: .5rem 1rem;
    margin: 0;
}

.productionBox{
    display: flex;
    justify-content: end;
    padding: .5rem 0.5rem;
    color: var(--text);
    background-color: var(--background);
    text-align: right;
}