.container {
    height: 100dvh;
}

.image--responsive {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border {
    border: 4px solid var(--text, #fefae0);
}
.border--narrow {
    border: 2px solid var(--text, #fefae0);
}
