.game {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.canvas {
    flex-grow: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}