@font-face {
  font-family: "Icons";
  src: url("fonts/Icons.woff2") format("woff2"), url("fonts/Icons.ttf") format("truetype"),
    url("fonts/Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon,
[class^="icon-"],
[class*=" icon-"] {
  /* Use !important to prevent extensions from overriding this font. */
  font-family: "Icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --icon-close: "\f014";
  --icon-volumeOn: "\f015";
  --icon-volumeOff: "\f016";
  --icon-forward: "\f000";
  --icon-pause: "\f001";
  --icon-water: "\f002";
  --icon-tree: "\f003";
  --icon-play: "\f004";
  --icon-people: "\f005";
  --icon-mountain: "\f006";
  --icon-industry: "\f007";
  --icon-happiness: "\f008";
  --icon-electricity: "\f009";
  --icon-money: "\f00a";
  --icon-grass: "\f00b";
  --icon-townHall: "\f00c";
  --icon-shop: "\f00d";
  --icon-park: "\f00e";
  --icon-mine: "\f00f";
  --icon-lumberjack: "\f010";
  --icon-house: "\f011";
  --icon-farm: "\f012";
  --icon-factory: "\f013";
}
.icon-close:before {
  content: var(--icon-close);
}
.icon-volumeOn:before {
  content: var(--icon-volumeOn);
}
.icon-volumeOff:before {
  content: var(--icon-volumeOff);
}
.icon-forward:before {
  content: var(--icon-forward);
}
.icon-pause:before {
  content: var(--icon-pause);
}
.icon-water:before {
  content: var(--icon-water);
}
.icon-tree:before {
  content: var(--icon-tree);
}
.icon-play:before {
  content: var(--icon-play);
}
.icon-people:before {
  content: var(--icon-people);
}
.icon-mountain:before {
  content: var(--icon-mountain);
}
.icon-industry:before {
  content: var(--icon-industry);
}
.icon-happiness:before {
  content: var(--icon-happiness);
}
.icon-electricity:before {
  content: var(--icon-electricity);
}
.icon-money:before {
  content: var(--icon-money);
}
.icon-grass:before {
  content: var(--icon-grass);
}
.icon-townHall:before {
  content: var(--icon-townHall);
}
.icon-shop:before {
  content: var(--icon-shop);
}
.icon-park:before {
  content: var(--icon-park);
}
.icon-mine:before {
  content: var(--icon-mine);
}
.icon-lumberjack:before {
  content: var(--icon-lumberjack);
}
.icon-house:before {
  content: var(--icon-house);
}
.icon-farm:before {
  content: var(--icon-farm);
}
.icon-factory:before {
  content: var(--icon-factory);
}
