@font-face {
  font-family: "icons";
  src: url("/fonts/icons.eot?cughj8");
  src: url("/fonts/icons.eot?cughj8#iefix") format("embedded-opentype"),
    url("/fonts/icons.ttf?cughj8") format("truetype"), url("/fonts/icons.woff?cughj8") format("woff"),
    url("/fonts/icons.svg?cughj8#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon,
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mine:before {
  content: "\e900";
}
.icon-farm:before {
  content: "\e901";
}
.icon-factory:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e903";
}
.icon-lumberjack:before {
  content: "\e904";
}
.icon-park:before {
  content: "\e905";
}
.icon-shop:before {
  content: "\e906";
}
.icon-townHall:before {
  content: "\e907";
}
.icon-grass:before {
  content: "\e908";
}
.icon-money:before {
  content: "\e909";
}
.icon-electricity:before {
  content: "\e90a";
}
.icon-happiness:before {
  content: "\e90b";
}
.icon-industry:before {
  content: "\e90c";
}
.icon-mountain:before {
  content: "\e90d";
}
.icon-people:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-tree:before {
  content: "\e910";
}
.icon-water:before {
  content: "\e911";
}
.icon-pause:before {
  content: "\e912";
}
.icon-forward:before {
  content: "\e913";
}
.icon-volumeOff:before {
  content: "\e914";
}
.icon-volumeOn:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
