.default{
    display: flex;
    width: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    align-self: stretch;
    background-color: var(--background);
    color: var(--text);
    font-family: 'icomoon';
    font-size: 24px;
}
.selected{
    background-color: var(--text, );
    color: var(--background);
}