@import "@fontsource/space-mono/700.css";
@import "@fontsource/roboto-mono/700.css";

:root {
    font-size: 16px;
    font-family: "Roboto Mono";
    font-weight: 700;

    color: var(--text);
    background-color: var(--background);

    --text: #fefae0;
    --background: #191919;

    --extractional: #1982c4;
    --industrial: #6a4c93;
    --commercial: #ff595e;
    --residential: #ffca3a;
    --recreational: #8ac926;

    --water-light: #598392;
    --water--dark: #124559;
    --grass--light: #7c8b4a;
    --grass--dark: #606c38;
    --forest--dark: #283618;
    --mountain--light: #be8f5b;
    --mountain--dark: #8f531d;

    --bg80: rgba(var(--background), 0.8);
    --bg32: rgba(var(--background), 0.32);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1920px) {
    :root {
        font-size: 12px;
    }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: "Space Mono";
}
h1,
.h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
h2,
.h2 {
    font-size: 1.5rem;
}
h3,
.h3 {
    font-size: 1.25rem;
    margin: 0;
}
a {
    color: var(--text);
    text-decoration: none;
}
