.menu {
  display: flex;
  height: 100%;
}

.menu .menuSide:first-of-type() {
    
}

.menuSide {
  flex-basis: 50%;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu menu {
  list-style-type: none;
  padding: 0;
}
