.menu {
  display: flex;
  height: 100%;
}

.menuSide {
  flex-basis: 50%;
  padding: 6rem 4rem;
}

.menuContainer {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.menu menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
