.menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.menuSide {
  padding: 6rem 4rem;
  position: relative;
}
.menuSide:has(.menuSide_lineless) {
  padding: 0;
}
.menuSide:has(.menuSide_lineless)::before {
  display: none;
}

.menuSide:has(.menuSide_lineless) .closeButton {
  display: none;
}

.menuSide_lineless {
  height: 100%;
}

.menuSide:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: -1px;
  width: 2px;
  background: var(--text);
}

.menuContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.menuNarrow {
  width: max-content;
}

.menu menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}
