.link {
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
}

.linkActive,
.link:hover {
  background: var(--text);
  color: var(--background);
}

/* .navContainer:has(.link:hover) .linkActive:not(.link:hover) {
  background: var(--background);
  color: var(--text);
} */

.linkUppercase {
  text-transform: uppercase;
}
