.link {
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
}

.link:hover {
  background: var(--text);
  color: var(--background);
}

.linkActive {
  background: var(--text);
  color: var(--background);
}

.linkUppercase {
  text-transform: uppercase;
}
