.buildingDocs{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.icon{
    font-size: 1.5rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoContainer{
    display: flex;
    gap: .75rem;
}