.buildingDocs{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 6rem;
    width: 20rem;
    padding: 2rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    scrollbar-width: none;
}
.icon{
    font-size: 1.5rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .75rem;
}
.infoContainer > :nth-child(odd):last-child {
  grid-column: 1 / -1;
}
