.toggleButtons {
    display: flex;
}
.toggleButtons > * {
    flex: 1;
}
.toggleButtons button {
    width: 100%;
    border: none;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.toggleButtonsNarrow {
    margin-left: auto;
    width: fit-content;
}
.toggleButtonsNarrow button {
    flex-grow: 0;
}
