.toggleButtons {
    display: flex;
}
.toggleButtons button {
    flex-grow: 1;
    border: none;
    padding: 1rem;
}

.toggleButtonsNarrow {
    margin-left: auto;
    width: fit-content;
}
.toggleButtonsNarrow button {
    flex-grow: 0;
}
