.link {
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

.linkActive,
.link:hover {
  background: var(--text);
  color: var(--background);
}

.linkUppercase {
  text-transform: uppercase;
}
