.survivalDisplay{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: .5rem;
    background-color: var(--background);
    gap: 2rem;
}

.time{
    color: var(--text);
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.value{
    display: flex;
    align-items: center;
    align-content: center;
    padding: .5rem;
}