.buildingDetails {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 6rem;
    width: 20rem;
    padding: 2rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row h2 {
    margin: 0;
    text-transform: uppercase;
}
.close [class^="icon-"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: -0.5rem;
}

.icon {
    font-size: 1.5rem;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
}
.infoContainer > :nth-child(odd):last-child {
    grid-column: 1 / -1;
}

.synergies {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.synergies::-webkit-scrollbar {
    width: 6px;
}

.synergies::-webkit-scrollbar-track {
    background: transparent;
}

.synergies::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 4px;
}

.synergies::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--text) 50%, transparent);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.button > * {
    width: 100%;
}
