@import "@fontsource/space-mono/700.css";
@import "@fontsource/roboto-mono/700.css";

:root {
  font-family: "Roboto Mono";
  font-weight: 700;

  color: var(--text);
  background-color: var(--background);

  --text: #fefae0;
  --background: #191919;

  --primary: #1982c4;
  --secundary: #6a4c93;
  --tercial: #ff595e;
  --resident: #ffca3a;
  --leisure: #8ac926;

  --water-light: #598392;
  --water--dark: #124559;
  --grass--light: #7c8b4a;
  --grass--dark: #606c38;
  --forrest--dark: #283618;
  --mountain--light: #be8f5b;
  --mountain--dark: #8f531d;

  --bg80: rgba(var(--background), 0.8);
  --bg32: rgba(var(--background), 0.32);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Space Mono";
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
a {
  color: var(--text);
  text-decoration: none;
}