@import "@fontsource/space-mono/700.css";
@import "@fontsource/roboto-mono/700.css";

:root {
  font-family: "Roboto Mono";
  font-weight: 700;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --text: #FEFAE0;
  --background: #191919;

  --primary: #1982C4;
  --secundary: #6A4C93;
  --tercial: #FF595E;
  --resident: #FFCA3A;
  --leisure: #8AC926;

  --water-light: #598392;
  --water--dark: #124559;
  --grass--light: #7C8B4A;
  --grass--dark: #606C38;
  --forrest--dark: #283618;
  --mountain--light: #BE8F5B;
  --mountain--dark: #8F531D;

  --bg80: rgba(var(--background), 0.8);
  --bg32: rgba(var(--background), 0.32);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Space Mono";
}
