.button {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    cursor: pointer;
}
.active {
    background-color: var(--text);
    color: var(--background);
}

.button:disabled{
  opacity: 0.2;
}
