.default{
    position: relative;
    display: flex;
    width: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    align-self: stretch;
    background-color: var(--background);
    color: var(--text);    
}
.selected{
    background-color: var(--text, );
    color: var(--background);
}
.icon{
    font-family: 'icons';
    font-size: 24px;
}
.amount{
    position: absolute;
    right: 4px;
    bottom: 8px;
}